/*Universal*/
h1, h2, h3, h4 {
  font-family: "Tagesschrift", system-ui;
  font-weight: 300;
  text-transform: lowercase;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
p {
  font-family: "Josefin Sans", Sans-Serif;
  font-size: 12px;
}
p2 { /*Slightly larger paragraph copy*/
  font-family: "Josefin Sans", Sans-Serif;
  font-size: 14px;
}
a {
  font-family: "Tagesschrift", system-ui;
  font-weight: 200;
  text-decoration: underline dotted #580646;
  color: white;
}
  a:hover {
    color: rgba(120, 32, 95, 0.5);
    text-shadow: 0 0 10px white;
    letter-spacing: 3px;
    transition-duration: 0.3s;
  }